

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(img/img2.png);
    background-repeat: no-repeat;
    height:100%;
    
}

#container{
    min-height: 100%;
}

#main{
    overflow: auto;
    padding-bottom: 80px;
}

#footer{
    background-color: black;
    position: relative;
    height: 80px;
    margin-top: -80px;
    clear: both;
}
::placeholder {
    color: white;
}

a{
    color: #00afb9;
}
.box{
    width: 300px;
    padding-left: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;

}

.box h1{
    color: #00afb9;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "number"], .box input[type = "password"]{
    border: 0;
    font-size: 24px;
    color: white;
    background: #00afb9;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #00afb9;
    padding: 14px 10px;
    width: 300px;
    height: 15px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 300px;
}

.box input[type = "submit"]{
    border: 0;
    font-size: 24px;
    color: white;
    background: #00afb9;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #59e8f0;
    padding: 10px 10px;
    width: 180px;
    height: 50px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #3ccdd4;
}

.box input .name{
    color: white;
}

.image{
    padding-top: 15px;
    padding-left: 10px;
}

.social{
    padding-left: 1000px;
    margin-top: -40px;
    
    

}

.social a + a{
    padding-left: 3rem;
}

ul{
    
    display: inline-block;
    margin: 0 60px 0 0;
    font-size: 25px;
    padding-top: -50px;
    
}

.fa-globe{
    color: white;
}
.fa-facebook{
    color: rgb(11, 93, 148);
}
.fa-instagram{
    color: rgb(133, 8, 95);
}
.fa-linkedin{
    color: rgb(29, 165, 47);
}
